.contenedor{
    display: flex;
    background-color: var(--verde-letras);
    font-family: var(--raleway);
}
.formulario{
    background-color: white;
    height: 530px;
    width: 660px;
    margin: 1.5rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;

}
.titulo__contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 30px;
    font-weight: 800;
}
.texto__contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
    padding: 50px;
}
.info{
    height: 550px;
    width: 550px;
}
label{
    font-size: 15px;
    margin-bottom: .5em;
}
.nombre,.email,.mensaje{
    font-weight: 800;
    margin-left: 20px;
}
input{
    margin: 1rem;
}
#mensaje{
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}