:root{
    --verde-letras: #7cb063;
    --verde-texto-activo: #1F8A70;
    --blanco-header: #f9f9f9;
    --raleway: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.encabezado{
    align-items: center;
    background: var(--blanco-header);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}
.btn_toogle{
    background: white;
    height: 35px;
    width: 30px;
    border: none;
}
.nav-toogle{
    justify-content: center;
    align-items: center;
    margin-right: 90px;
    font-size: 30px;
    display: none;
}
.menu__lista{
    display: flex;
    padding: 0;
}
.menu__items{
    list-style: none;
    margin-right: 3rem;
    padding: 0;
}
.menu__link{
    color: var(--verde-letras);
    text-decoration: none;
    margin-left: 1.5rem;
    font-family: var(--raleway);
}
.menu__link:hover{
    text-decoration: underline;
}
.menu__link.activo{
    color: var(--verde-texto-activo);
}

@media screen and (max-width: 667px){
    .encabezado{
        height: 60px;
    }
    
    .menu__lista{
        flex-direction: column;
        margin: 0;
        background-color: darkcyan;
        color: white;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .menu__items{
        margin: 1rem;
    }
    .menu__link:hover{
        color: white;
    }
    .nav-toogle{
        display: block;
    }
    .menu__lista_visible{
        left: 0;
    }
}